* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/* Utilities */
.floatR {
  float: right;
}
.floatL {
  float: left;
}
/* Fine Utilities */
.container{
  margin: 15px auto;
  width: 80%;
  height: calc(100vh - 30px);
}
/* css Slider */
.slider{
  width: 35%;
  height: 100%;
  border-right: 1px solid black;
}
.myProfile, .main-header, .bottom {
  height: 65px;
  background-color: #eaeaea;
}
.myProfile-left{
  margin-left: 5px;
  width: calc(60% - 5px);
  height: 60px;
  display: flex;
}
img  {
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
}
#nomeUtente {
  line-height: 65px;
  margin-left: 10px;
  font-size: 15px;
}
.options {
  width: 40%;
  height: 60px;
}
.icons {
  font-size: 23px;
  margin: 0 15px;
  line-height: 65px;
}
.icons > i {
  color:#b1b1b1;
}
.activeNotifications{
  height: 70px;
  background-color: #8ddafc;
}
.icon{
  padding: 5px;
  font-size: 25px;
  margin: 17px 15px;
  background-color: white;
  border-radius: 50%;
}
.icon > i {
  color: #8ddafc;
}
#receive {
  padding-top: 20px;
  font-size: 16px;
}
#active {
  font-size: 13px;
  text-decoration: underline;
  color: #414141;
}
.searchArea{
  height: 35px;
  background-color: #eaeaea;
}
.searchArea > input {
  width: 95%;
  height: 80%;
  border: 1px solid lightgray;
  margin: 0 7px;
  padding-left: 30px;
  background-image: url("img/search.png") ;
  background-size: 22px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.UsersChatArea{
  height: calc(100% - 165px);
  overflow-y: scroll;
}
.box > img, .main-headerLeft > img {
  margin: 5px 10px 5px 5px;
}
.box{
  display: flex;
  border-bottom: 1px solid #eaeaea;
}
.names{
  line-height: 65px;
  margin-left: 10px;
}
/* FINE SLIDER */
/* css MAIN */
.main {
  width: 65%;
  height: calc(100% - 65px);
}
.main-headerLeft, .main-headerRight {
  width: 50%;
  height: 60px;
}
#activeName{
  padding-top: 16px;
  font-size: 15px;
}
#lastAccess{
  font-size: 13px;
  color: #414141;
}
.chatArea {
  height: calc(100% - 60px);
  background-image: url('img/mine.jpg');
  overflow-y: scroll;
}
.mexContainer{
  border: 1px solid lightgray;
  border-radius: 10px;
  position: relative;
  margin: 7px 30px;
  background-color: white;
}
.mex{
  padding: 11px 15px;
  font-size: 15px;
}
.received {
  background-color: #fff;
  float: left;
}
.sent{
  background-color: #cbe7b5;
  float: right;
}
.clearfix::after{
  content:"";
  display: table;
  clear: both;
}
/* FINE MAIN */
/* css BOTTOM */
.bottom {
  width: 65%;
}
#sendMessage{
  width: 85%;
  height: 50px;
  margin-top: 7px;
  padding-left: 15px;
}
